/*
Configuración pagina
*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background-position: center;
    margin: 0 0 0 0;
    font-family: "Oswald", sans-serif;
    background-color: forestgreen;
    
}
/*
Configuración cabecero
*/
.Cabecero {

    width: 100%;
    height: 5%;
    background: forestgreen;
    display: flex;
    padding: 5px 5px;
    position: fixed;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    z-index: 1;
    
    
    
}

.texto_cabecero {
    color: white;
    font-weight: 500;
    font-style: normal;
}

.contenedor_padre{
    width: 100%;
    height: 150vh;

    background-color: aqua;
    display: flex;
    gap: 5px   ;
    
    flex-direction: column;
}
.contenedor_seccion{
    width: 100%;
    height: 100rem;
    max-height: auto;
    background-color: white;
    
    margin: 5px;

}
.contenedor_estructura{
    overflow: hidden;
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contenedor_grupo_info{
    width: 200vh;
    height: 20vh;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20%;
    margin: 5px;
}


.imagenes_cards{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    cursor: pointer;
    
    
}

.titulo{
    color: forestgreen;
    font-size: 2rem;
    
}


.contenedor_interno{
    width: 100rem;
    height:12em    ;
    /* background-color: burlywood; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.contenedor_cards{
    width: 10%;
    margin: 1%;
    height: 100%;
    background-color:white;
    color: forestgreen;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);   
}
.contenedor_cards:checked{
    border: 2px solid forestgreen
}

.contenedor_selects{
    width: 100%;
    height: 90%;
    overflow: hidden;
    /* background-color: beige; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    

}
.contenedor_selects select{
    width: 100%;
    height: 55%;
    border-radius: 8px;
    border: none;
    color:forestgreen;
    font-size: 100%;
    border: 2px solid forestgreen;
    
    font-weight: 700;
    
}
.contenedor_selects select option{
    font-weight: 700;
}
.contenedor_selects label{
    font-size: 20px;
    color: forestgreen;
    margin-bottom: 10px;
}
.contenedor_label_select{
    width: 40%;
    height: 50%;
    /* background-color: aqua; */
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.boton_continuar{
    margin-bottom: 20px;
    width: 120px;
    height: 45px;
    background-color: forestgreen;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

/* Seccion de selección de cantidad por envase */

.contenedor_info{
    width: 90%;
    height: 50%;
    background-color: azure;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
    
}
.titulo_cantidad_envase{
    color: forestgreen;
    font-size: 2rem;
}
.contenedor_agrupador{
    width: 90%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor_opcion{
    width: 7%;
    height: 3rem;
    background-color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: 2px forestgreen;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform-style: preserve-3d;
    margin: 5px 5px;
    cursor: pointer;
}
.contenedor_opcion:hover{
    transform: translateY(-10px) rotateX(5deg) rotateY(5deg);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3), 0 4px 8px rgba(0, 0, 0, 0.2);
}
.contenedor_opcion label{
    color: forestgreen;
    font-size: large;
    width: 100%;
    height: 100%; display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}
input[type="radio"]:checked + .contenedor_seleccion{
   background-color: forestgreen;
   color: white;
}

.botones_invisibles{
    display: none;
}

/* Contenedor para el boton de continuar */
.contenedor_seccion_boton{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

/* seccion de estilos de material bote imagenes */
.seleccion_imagen:cheked + imagen_opcion{
    background-color: antiquewhite;
}